body {
  font-family: 'Raleway';
  background-color: #dcedc2;
  color: #594F4F;
  margin: auto;
}

nav {
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 5%;
  background-color: #547980;
  padding: 1rem;
}

nav a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

nav aside {
  width: 17rem;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

nav aside a {
  padding-right: .25rem;
  font-size: medium;
}

header {
  height: 30%;
  background-color: #45ADA8;
  color: #E5FCC2;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.has-dashboard-link {
  height: 30%;
  background-color: #45ADA8;
  color: #E5FCC2;
  margin: auto;
  display: block;
  justify-content: center;
  padding: 1.5rem;
}

.has-dashboard-link h1 {
  height: 30%;
  background-color: #45ADA8;
  color: #E5FCC2;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.has-button-below {
  height: 30%;
  background-color: #45ADA8;
  color: #E5FCC2;
  margin: auto;
  display: block;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
}

main {
  height: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

main article {
  display: block;
  flex: 1 0 200px;
  width: 30%;
  border: 3px solid #594F4F;
  text-indent: 1.25rem;
  margin: 2rem;
}

main article img {
  display: block;
  margin: 0 auto 0 auto;
  width: 90%;
}

main article h2 {
  text: bolder;
}

.edit {
  display: block;
}

form {
  display: block;
  margin: 0 auto 0 auto;
  border: 3px solid #594F4F;
  padding: .5rem 1rem;
}

.dropdown {
  border: 0;
  border-radius: 0;
  width: 100%;
  padding: .5rem;
  font-size: medium;
}

.edit-buttons-group {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  width: 100%;
}

.create-button-header {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  width: 100%;
}

.edit-button {
  border-radius: 0;
  background-color: #EBD01D;
  padding: .5rem 1rem;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 11pt;
  margin: 0 .5rem;
  width: 2rem;
}

.delete-button {
  border: none;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 11pt;
  width: 2rem;
}

.cancel-button {
  border-radius: 0;
  background-color: #E84A5F;
  padding: .5rem 1rem;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 11pt;
  margin: 0 .5rem;
  width: 10rem;
}

.submit-button {
  border-radius: 0;
  background-color: #EBD01D;
  padding: .5rem 1rem;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 11pt;
  margin: 0 .5rem;
  width: 10rem;
}

.create-button {
  border-radius: 0;
  background-color: #EBD01D;
  padding: .5rem 1rem;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 11pt;
  margin: 0 .5rem;
  width: 10rem;
}

.table {
  margin: 1rem 0 0 0;
}

#invoice-index-table {
  width: 90%;
}
#merchant-index-table {
  width: 90%;
}
#items-index-table {
  width: 90%;
}

table {
  display: table;
  width: 100%;
  border: 3px solid #9DE0AD;
  border-collapse: collapse;
}

th, td {
  padding: .5rem;
  border: 1px solid #9DE0AD;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  background-color: #9DE0AD;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.index-invoice {
  padding-top: 5rem;
}

table tr aside {
  float: right;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 8rem;
  width: 5rem;
  padding: auto;
}

.total-price {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: auto;
  text-align: center;
  text-indent: 0;
  border: none;
  background-color: #9DE0AD;
  background-size: auto;
  margin: auto;
}

#status-percentages div {
  display: flex;
  justify-content: space-around;
  text-indent: 0;
}

.invoices-dashboard h3 {
  text-decoration: underline;
}

.invoices-dashboard div {
  display: flex;
  justify-content: space-around;
  text-indent: 0;
  margin: -2rem 0 0 -1.75rem;
}

.invoices-dashboard div h3 {
  margin: 0;
  padding: 0;
}

main .all-items article {

}
