<h1>Merchants Dashboard</h1>
<section class="top-merchants" name="Top Merchants">
  <p>Merchant With Most Items</p>
  <p><a href="/merchants/<%= @merchant_with_most_items.id %>"><%= @merchant_with_most_items.name %></a></p>
</section>
