<h1>Create New Merchant</h1>

<form class="new-merchant" action="/merchants" method="post">
  <p> Name: </p>
  <input type="text" name="name" placeholder="Name">
  <a href="/merchants"><button>Cancel</button></a>
  <input type="submit" value="Create Merchant">
</form>
