<h1><%= @merchant.name %></h1>
<a href="/merchants/<%= @merchant.id  %>/edit">Edit</a>
<form action="/merchants/<%= @merchant.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete"/>
</form>
<%# photos, linked name, and prices of items below %>
