<h1>Items Dashboard</h1>

<section class="dashboard">
  <p>Total Item Count</p>
  <h1><%= @count %></h1>
</section>

<section class="dashboard">
  <p>Avg Price Per Item</p>
  <h1>$<%= @average %></h1>
</section>
