<header class="has-dashboard-link">
  <a href="/items-dashboard">Dashboard</a>
  <h1>Items</h1>
  <a href="/items/new"><button>Create A New Item</button></a>
</header>

<main class="all-items">
  <!-- if @items.empty?
    no items message
  else -->
  <% @items.each do |item| %>
  <article class="item-index">
    <img src="<%= item.image %>" alt="">
    <h3><a href="/items/<%= item.id %>"><%= item.name %></a></h3>
    <p>$<%= '%.2f' % (item.unit_price.to_f/100) %></p>
  </article>
  <% end %>
  <!-- end -->
</main>
