<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="./stylesheets/css/reset.css">
    <meta charset="utf-8">
    <title>Little Shop</title>
    <link href="/master.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
  </head>
  <body>
    <nav>
      <section>
        <a href="/">LittleShop</a>
      </section>
      <aside>
        <a href="/merchants">Merchants</a>
        <a href="/items">Items</a>
        <a href="/invoices">Invoices</a>
      </aside>
    </nav>
    <%= yield %>
  </body>
</html>
